[Unit]
Description=Simple API Poller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=usuario
WorkingDirectory=/home/usuario/developer/dexma_ingestor
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/usuario/developer/dexma_ingestor/.venv/bin/python /home/usuario/developer/dexma_ingestor/app/main.py
Restart=always
RestartSec=5
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target